@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  height: 100%;
  width: 100%;
  background-color: black;
}
h1 {
  color: beige;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 100px;
text-decoration: underline;
white-space: nowrap;
}
.nav{
  display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(10, 117, 146);
padding: 20px 40px;

}
.nav div{
  display: flex;
align-items: center;
gap: 40px;
}
.nav div a{
  text-decoration: none;
}